<div class="row">
    <div class="col-md-5 mt-3 mx-auto">
        <div class="card">
            <div class="card-header">
               create a new book
            </div>
            <div class="card-body">
               <form action="/save-books" method="post">
                  <div class="form-group">
                      <input type="text" name="title" placeholder="title" class="form-control" required autofocus> 
                  </div>
                  <div class="form-group">
                      <input type="text" name="author" placeholder="author" class="form-control"  required>
                  </div>
                     <div class="form-group">
                      <input type="text" name="isbn"   placeholder="isbn" class="form-control" pattern="(?:(?=.{17}$)97[89][ -](?:[0-9]+[ -]){2}[0-9]+[ -][0-9]|97[89][0-9]{10}|(?=.{13}$)(?:[0-9]+[ -]){2}[0-9]+[ -][0-9Xx]|[0-9]{9}[0-9Xx])"  >
                  </div>
                   <button type="submit" class="btn btn-success btn-block">save books</button>
               </form>
            </div>
        </div>
    </div>
</div>